apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: contoso-air12
  labels:
    app.kubernetes.io/name: contoso-air12
    app.kubernetes.io/part-of: contoso-air12-project
    kubernetes.azure.com/generator: devhub
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: contoso-air12
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80